@font-face {
    font-family: 'Baba-nue';
       src: url('./assets/fonts/Bebas\ Neue/BebasNeue-Regular.otf');
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: 'gillius';
       src: url('./assets/fonts/Gillius/GilliusADFNo2-Regular.otf');
    font-weight: normal;
    font-style: normal;
 }